*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: rgb(62, 69, 60);
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}

h1{
    color:aquamarine;
    background-color: black;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.scoreBoard{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 3rem;
    font-size: 3rem;
    color: chartreuse;
}

#userScore,#compScore{
    font-size: 6rem;
}

.msg{
    display: flex;
    background-color: black;
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:white;
    padding: 1rem;
    border-radius: 1rem;
}

.msg-container{
    margin-top: 2rem;
}

