/* h1{
    color:blue;
    background-color: pink;
}
body{
    color:white;
    background-color:black;
}
button{
    color: blue;
    background-color:white;
}
.heading{
    background-color:peru;
}

.box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(172, 81, 127);
}

.new{
    height: 200px;
    width: 100px;
    background-color: blue;
    color: white;
    border: 1px green;
}
.newpara{
    font-style: italic;
    font-size: 50px;
    color: yellow;
}

.content{
   
    background-color: rgb(0, 255, 68);
} */

div{
    height: 100px;
    width: 100px;
    color: black;
    background-color: aqua;
    border: 1px solid black;
}

.dark{
    background-color: black;
    color: green;
}

.light{
    background-color: white;
    color: black;
}





